
bin/Debug/lognet4Demo.pdb
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/lognet4Demo.csproj.CopyComplete
obj/Debug/lognet4Demo.csproj.CoreCompileInputs.cache
obj/Debug/lognet4Demo.csproj.FileListAbsolute.txt
obj/Debug/lognet4Demo.csproj.GenerateResource.cache
obj/Debug/lognet4Demo.csprojAssemblyReference.cache
obj/Debug/lognet4Demo.exe
obj/Debug/lognet4Demo.g.resources
obj/Debug/lognet4Demo.pdb
obj/Debug/lognet4Demo.Properties.Resources.resources
obj/Debug/lognet4Demo_MarkupCompile.cache
obj/Debug/lognet4Demo_MarkupCompile.i.cache
obj/Debug/lognet4Demo_MarkupCompile.i.lref
obj/Debug/lognet4Demo_MarkupCompile.lref
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
bin/Debug/log4net.dll
bin/Debug/log4net.xml
bin/Debug/lognet4Demo.exe
bin/Debug/lognet4Demo.exe.config
bin/Debug/test.txt
